---
import Layout from "../../layouts/Layout.astro";
import AppShell from "../../components/app/AppShell.astro";
---

<Layout>
  <AppShell>
    <div class="max-w-3xl xl:max-w-6xl px-5 py-10 mx-auto">hello world</div>
  </AppShell>
</Layout>
