---
import { ThemeSwitch } from "astro-color-scheme";
import { Icon } from "astro-icon/components";
import useAppConfig from "../../../util/useAppConfig";

const config = (await useAppConfig()).ui.icons;
---

<ThemeSwitch strategy="button" defaultTheme="system">
  <button
    class="flex justify-center items-center border rounded-full w-8 h-8 text-gray-500 dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-800 dark:border-gray-500 transition-all"
  >
    <span class="sr-only">Toggle Theme</span>
    <Icon class="hidden dark:block" name={config?.dark ?? "tabler:moon"} />
    <Icon class="dark:hidden" name={config?.light ?? "tabler:sun"} />
  </button>
</ThemeSwitch>
