---
import "@fontsource/gabarito";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>My button</title>
  </head>
  <body class="flex min-h-screen justify-center items-center">
    <a
      href="https://x.com/intent/follow?screen_name=mark_bruderer"
      class="bg-blue-500 px-4 py-3.5 rounded font-bold font-2xl text-white"
      >Follow Me On ğ•</a
    >
  </body>
</html>
