---
import "@fontsource/gabarito";
import BaseLayout from "./BaseLayout.astro";
const { slug } = Astro.params;
const { frontmatter } = Astro.props;
const siteTitle = (await globalThis.themeConfig).general.title;
const title = frontmatter?.title || siteTitle;
---

<div class="grid grid-cols-1 md:grid-cols-10">
  <div class="col-span-6">
    <slot />
  </div>
</div>
