---
import "@fontsource/gabarito";
import BaseLayout from "./BaseLayout.astro";
import AppProse from "../components/app/Prose.astro";
const { slug } = Astro.params;
const { frontmatter } = Astro.props;
import themeConfig from "@util/themeConfig";
const siteTitle = themeConfig.general.title;
const title = frontmatter?.title || siteTitle;
---

<BaseLayout>
  <div class="max-w-2xl w-full mx-auto py-20">
    <AppProse>
      <slot />
    </AppProse>
  </div>
</BaseLayout>
